<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>True Reddit r/all</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
        <base href="/"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<link th:href="@{/styles/main.css}" rel="stylesheet" />
    </head>
    <body>
        <h1>True Reddit r/all DB Info</h1>
        <div>Subreddit Count: <span th:text="${subreddits}"></span></div>
        <div>Post Count: <span th:text="${posts}"></span></div>
    </body>
</html>