<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>True Reddit r/all</title>
		<link rel="icon" type="image/x-icon" href="/favicon.png">
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
        <base href="/"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<link th:href="@{/styles/main.css}" rel="stylesheet" />
		<link th:href="@{/styles/tristate-slider.css}" rel="stylesheet" />
		<script th:src="@{/js/previews.js}"></script>
		<script th:src="@{/js/controls.js}"></script>
    </head>
    <body>
		<div class="control-box">
			<div style="padding-top: 0px; padding-bottom: 0px;">
				<h4 style="margin: 0px; display: inline-block;">Filters</h4>
				<a id="title-link" href="#title" class="top-nav" ><small>Top</small> ⤒</a>
				<script>document.getElementById("title-link").setAttribute("href", window.location.href.replace(window.location.hash, "") + "#title");</script>
			</div>
			<div>
				<h4 style="margin: 0px;"><a class="cancel-button" onclick="toggleFilters(this);">∨</a></h4>
			</div>
			<div id="filters" style="display: none">
				<div>
					Type &nbsp;
					<select onchange="updateFilter(this.value);">
						<option th:selected="${filter == null}" value="none">none</option>
						<option th:selected="${filter == 'self'}" value="self">self</option>
					</select>
				</div>
				<div>
					NSFW &nbsp;
					<input type="range" min="-1" max="1" th:value="${nsfw == null ? 0 : (nsfw ? 1 : -1)}" oninput="this.setAttribute('value', this.value); updateNSFW(this.value);"/>
				</div>
				<div>
					Exclude Subreddit &nbsp;
					<input list="subreddits" type="text" onchange="updateSubFilter(this);"/>
					<datalist id="subreddits">
						<option th:each="sub : ${subreddits}" th:value="${sub.name}" />
					</datalist>
					<!-- Whitespace matters here to avoid adding it randomly when appending nodes -->
					<div id="subFilterList"><span th:each="sub : ${subFilter == null ? {} : subFilter.split(',')}" class="sub-filter-button">
							<a class="cancel-button" style="padding-right: 2px;" onclick="removeFilter(this);">✖</a>
							<span th:text="${sub}"></span>
						</span></div>
					<template id="subListItem"><span class="sub-filter-button">
							<a class="cancel-button" style="padding-right: 2px;" onclick="removeFilter(this);">✖</a>
							<span id="itemContent"></span>
						</span></template>
				</div>
				<div>
					<button onclick="applyFilters();">Apply</button>
				</div>
			</div>
		</div>
		
        <div>
            <h1 style="display: inline-block" id="title">True Reddit r/all</h1>
        </div>
		<div class="grid" th:each="post, iter : ${posts}">
			<div style="flex: 0 0 25px" th:text="${page * size + iter.index + 1}"></div>
			<div style="flex: 0 0 50px"><b th:text="${post.getAbbreviatedScore()}"></b></div>
			<div class="vertical-center" style="height: 100px; flex: 0 0 100px;">
				<img class="thumbnail" th:src="${post.thumbnail == 'self' ? 'self.png' : (post.thumbnail == 'default' ? 'default.png' : (post.thumbnail == 'nsfw' ? 'nsfw.png' : post.thumbnail))}" th:style="${post.nsfw ? 'border: 2px solid #CC88AA;' : 'border: 2px solid #444444;'}">
			</div>
			<div style="min-width: 30px">
				<div th:if="${post.isImage()}">
					<button class="imagePreview" th:data-url="${post.url}" th:onclick="'toggleImagePreview(this, \'imagePreview' + ${iter.index} + '\')'">+</button><br>
					<img th:id="${'imagePreview' + iter.index}" style="max-width: 700px; max-height: 700px; min-width: 25px; min-height: 25px; display: none;">
				</div>
				<div th:if="${post.saferIsVideo()}">
					<button class="imagePreview" th:data-url="${post.url}" th:data-reddit-video-url="${post.redditVideoUrl}" th:onclick="'toggleVideoPreview(this, \'videoPreview' + ${iter.index} + '\')'">+»</button><br>
					<video th:id="${'videoPreview' + iter.index}" style="height: 700px; display: none;" controls='controls'></video>
				</div>
				<div th:if="${post.isEmbed()}">
					<button class="imagePreview" th:data-url="${post.url}" th:data-comment-url="'https://www.reddit.com' + ${post.permalink}" th:onclick="'toggleEmbed(this, \'embed' + ${iter.index} + '\')'">+➔</button><br>
					<iframe th:id="${'embed' + iter.index}" frameborder='0' scrolling='no' allowfullscreen style="height: 700px; display: none;"></iframe>
				</div>
				<div th:if="${post.isSelf()}">
					<button class="imagePreview" th:data-id="${post.id}" th:onclick="'toggleSelfPost(this, \'self' + ${iter.index} + '\')'">+æ</button><br>
					<div class="selfPost" th:id="${'self' + iter.index}" style="display: none;"></div>
				</div>
			</div>
			<div class="titleBox">
				<h3><a th:href="${post.url}" th:utext="${post.title}"></a></h3>
				<div>
					submitted at <span th:text="${#dates.formatISO(post.created)}"></span>
					to <a th:href="'https://www.reddit.com/r/' + ${post.subreddit.name}" th:text="'r/' + ${post.subreddit.name}"></a>
					<a class="cancel-button" th:data-subreddit="${post.subreddit.name}" onclick="addSubFilter(this.dataset.subreddit)">✖</a>
					by <a th:href="'https://www.reddit.com/u/' + ${post.author}" th:text="${post.author}"></a>
				</div>
				<a th:href="'https://www.reddit.com' + ${post.permalink}" th:text="'View Comments (' + ${post.comments} + ')'"></a>
			</div>
		</div>
		<br>
		<center>
            <h4>
                <span th:if="${page == 0}">Previous</span>
                <a th:if="${page > 0}" th:href="${@webUtil.createQueryString(page - 1, size, filter, nsfw, subFilter)}">Previous</a>
                |
                <a th:href="${@webUtil.createQueryString(page + 1, size, filter, nsfw, subFilter)}">Next</a>
            </h4>
        </center>
		<br>
		<a href="subs">Subreddit List</a>
    </body>
</html>