<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Subreddit List</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
        <base href="/"/>
        <script src="/webjars/jquery/jquery.min.js"></script>
		<link th:href="@{/styles/main.css}" rel="stylesheet" />
    </head>
    <body>
        <h1>Subreddit List</h1>
		<input id="subredditSearch" type="text" />
        <ul>
            <li class="subreddit" th:each="sub : ${subreddits}" th:name="${sub.name}">
				<a th:href="'https://www.reddit.com/r/' + ${sub.name}" th:text="${sub.name} + ' (' + ${sub.subscribers} + ')'"></a>
			</li>
        </ul>
		
		<script th:inline="javascript">
			var subs = /*[[${subreddits}]]*/ [];
			var subEls = $(".subreddit");
			var search = $("#subredditSearch");
			search.on("keyup", () => {
				// This is so slow at filtering elements :(
				var time = new Date().getTime();
				var subsToShow = subs.filter(s => s.name.toLowerCase().includes(search.val().toLowerCase()));
				subEls.hide();
				subEls.filter((i, e) =>
						subsToShow.some(s => e.attributes.name.value === s.name)
					).show();
				console.log(new Date().getTime() - time);

//				time = new Date().getTime();
//				subEls.hide();
//				for (s of subs) {
//					if (s.name.toLowerCase().includes(search.val().toLowerCase())) {
//						subEls.filter((i, e) => e.attributes.name.value === s.name).show();
//					}
//				}
//				console.log(new Date().getTime() - time);
			});
		</script>
    </body>
</html>