:root {
	--bg-color: #171111;
}

body {
	background: var(--bg-color);
	color: #d3cccc;
}

a {
	color: #2850E0;
}

a:visited {
	color: #6830D0;
}

p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

h3 {
    margin-block-start: 0.75em;
    margin-block-end: 0.75em;
}

.grid {
	padding: 1.25em 0.25em;
	display: flex;
	align-items: center;
    flex-wrap: wrap;
}

.grid > div {
	padding: 0px 7px;
}

.vertical-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.thumbnail {
    box-sizing: border-box;
    max-height: 100px;
    max-width: 100px;
    border-radius: 20px;
}

.imagePreview {
	border-radius: 5px;
	height: 40px;
	width: 40px;
	background-color: #664444;
	color: white;
	font-weight: bolder;
	font-size: larger;
	text-align: center;
	padding: 0px;
	/*float: right;*/
}

.selfPost {
    border-radius: 10px;
    border: 1px solid gray;
    padding: 5px 10px;
    min-width: 200px;
}

.titleBox {
    max-width: 60vw;
}

@media (max-width: 900px) {
    .titleBox {
        max-width: 45vw;
    }
}

@media (max-width: 600px) {
    .titleBox {
        max-width: 90vw;
    }
}

.control-box {
	position: fixed;
	top: 0px;
	right: 0px;
	max-width: 50vw;
	width: 400px;
	max-height: 95vh;
	overflow-y: auto;
	padding: .5em .5em;
	display: flex;
	flex-direction: column;
	border-left: 1px solid;
	border-bottom: 1px solid;
	border-radius: 0px 5px 0px;
	background-color: var(--bg-color);
}

.control-box > div {
	padding: 0.25em .25em;
}

.control-box > div > div {
	padding: 0.25em .25em;
}


.top-nav {
	float: right;
	color: #d3cccc;
	font-size: larger;
	font-weight: bold;
	text-decoration: none;
	margin-top: -5px;
}

.top-nav:visited {
	color: #d3cccc;
}

.top-nav:hover {
	color: white;
}

.top-nav > small {
	vertical-align: text-top;
}

.cancel-button {
	position: relative;
	top: 1px;
	cursor: pointer;
	color: #884422;
	user-select: none;
}

.cancel-button:active {
	color: #663311;
}

.sub-filter-button {
	display: inline-block;
	border: 1px solid white;
	border-radius: 3px;
	padding: 1px 4px 2px 3px;
	margin: 3px;
}