input[type=range] {
	-webkit-appearance: none;
	width: 60px;
	background: transparent;
	padding: 1px;
    vertical-align: bottom;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 60px;
	height: 20px;
	cursor: pointer;
	box-shadow: inset 1px 1px 2px #333333, 0px 0px 2px #666666;
	background: #bbbbbb;
	border-radius: 15px;
	padding: 1px;
  	transition: background-color 0.33s;
}
input[type=range][value="-1"]::-webkit-slider-runnable-track {
	background: #cc4444;
}
input[type=range][value="1"]::-webkit-slider-runnable-track {
	background: #44cc44;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	box-shadow: inset 1px 1px 2px #333333, 0px 0px 1px 2px #cccccc;
	background: #aaaaaa;
}
input[type=range][value="-1"]:focus::-webkit-slider-runnable-track {
	background: #bb2222;
}
input[type=range][value="1"]:focus::-webkit-slider-runnable-track {
	background: #22bb22;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	box-shadow: 1px 1px 2px #333333, 0px 0px 2px #666666;
	height: 16px;
	width: 16px;
	border-radius: 10px;
	background: #ffffff;
	cursor: pointer;
	margin-top: 1px;
}

input[type=range]::-moz-range-track {
	width: 60px;
	height: 20px;
	cursor: pointer;
	box-shadow: inset 1px 1px 2px #333333, 0px 0px 2px #666666;
	background: #bbbbbb;
	border-radius: 15px;
  	transition: background-color 0.33s;
}
input[type=range][value="-1"]::-moz-range-track {
	background: #cc4444;
}
input[type=range][value="1"]::-moz-range-track {
	background: #44cc44;
}
input[type=range]:focus::-moz-range-track {
	box-shadow: inset 1px 1px 2px #333333, 0px 0px 1px 2px #cccccc;
	background: #aaaaaa;
}
input[type=range][value="-1"]:focus::-moz-range-track {
	background: #bb2222;
}
input[type=range][value="1"]:focus::-moz-range-track {
	background: #22bb22;
}
input[type=range]::-moz-range-thumb {
	-webkit-appearance: none;
	box-shadow: 1px 1px 2px #333333, 0px 0px 2px #666666;
	height: 16px;
	width: 16px;
	border-radius: 10px;
	background: #ffffff;
	cursor: pointer;
	border: none;
}

input[type=range]::-ms-track {
	width: 60px;
	height: 20px;
	cursor: pointer;
	box-shadow: inset 1px 1px 2px #333333, 0px 0px 2px #666666;
	background: #bbbbbb;
	border-radius: 15px;
	padding: 1px;
  	transition: background-color 0.33s;
}
input[type=range]::-ms-fill-lower {
	background: transparent;
}
input[type=range]::-ms-fill-upper {
	background: transparent;
}
input[type=range]::-ms-thumb {
	-webkit-appearance: none;
	box-shadow: 1px 1px 2px #333333, 0px 0px 2px #666666;
	height: 16px;
	width: 16px;
	border-radius: 10px;
	background: #ffffff;
	cursor: pointer;
}
input[type=range][value="-1"]::-ms-track {
	background: #cc4444;
}
input[type=range][value="1"]::-ms-track {
	background: #44cc44;
}
input[type=range]:focus::-ms-track {
	background: #aaaaaa;
}
input[type=range][value="-1"]:focus::-ms-track {
	background: #bb2222;
}
input[type=range][value="1"]:focus::-ms-track {
	background: #22bb22;
}
